# Ignore system files
.DS_Store

# Ignore IDEs directories
.idea/
nbproject/

# Traefik
traefik/certificates/*
!traefik/certificates/.gitkeep

# Mkcert
mkcert/certificates/*
!mkcert/certificates/.gitkeep
