# Ignore system files
.DS_Store

# Ignore IDEs directories
.idea/
nbproject/

# Mkcert
environment/certificates/*
!environment/certificates/.gitkeep
mkcert/certificates/*
!mkcert/certificates/.gitkeep
