# Ignore system files
.DS_Store

# Ignore IDEs directories
.idea/
nbproject/

# Mkcert
project-environment/certificates/*
!project-environment/certificates/.gitkeep
mkcert/certificates/*
!mkcert/certificates/.gitkeep
